<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Final de Programacion 3</h1>
            <h3 class="mb-5">
                <em>Control de Stock e Inventario / Mobiliario / Biblioteca / Prestamos </em>
            </h3>
            <a class="btn btn-primary btn-lg" href="/signin">
                Entrar!!
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>