

<div class="container p-5">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div class="text-center">
                <div class="">

                    <img src="/img/img_avatar.png" alt="" class="card-img-top mx-auto m-3 w-50 rounded mx-auto d-block" >
                                        
                    <a href="/mobiliario" class="btn btn-dark m-4">
                        Entrar Al Sistema de Mobiliario 
                    </a>

                    <a href="/biblioteca" class="btn btn-dark m-4">
                        Entrar Al Sistema de Biblioteca 
                    </a>

                    <a href="/prestar" class="btn btn-dark m-4">
                        Entrar Al Sistema de Libros Prestados
                    </a>

                </div>
            </div>
        </div>

    </div>
</div>

{{>footer}}